# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
ENV/
env/

# Django
db.sqlite3
/media/

# Logs
*.log

# Mac / Linux
.DS_Store
*.bak

# Windows
Thumbs.db
ehthumbs.db